/* -----posts ----- */
.closeIcon{
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}
.postItem {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  overflow: hidden;
  margin: 40px 1%;
  min-width: 600px;
  max-width: 890px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.15);
}

.more{
  font-size: 12px;
  margin-bottom: 10px;
  border-bottom: 1px dashed rgba(0, 64, 255, 0.667);
  color: rgba(0, 64, 255, 0.667);
}
.more:hover{
  cursor: pointer;
}

.postItem:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 25px 25px;
  border-color: transparent transparent transparent #d2652d;
  content: '';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.postItem img {
  width: 100%;
  /* position: relative; */
}

.postItem .textBlog {
  padding: 20px 20px 30px;
  background-color: #ffffff;
}

.postItem .date {
  background-color: #d2652d;
  position: absolute;
  top: 15px;
  right:  15px;
  color: #fff;
  height: 48px;
  width: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}

.postItem .date span {
  display: block;
  line-height: 14px;
}

.postItem .date .month {
  font-size: 11px;
}

.postItem h2 {
  margin-bottom: 10px;
  font-weight: 700;
}

.postItem p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 20px;
}

.postItem .commentPost {
  padding: 0 25px;
  line-height: 30px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}



/* pagination */
.pagination1{
  margin-bottom: 30px;
  height: 50px;
  padding-top: 20px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  }
  .pagination1 li
  {
  padding:5px 10px;
  border: 1px solid grey;
  
  }
  .pagination1 li:hover,.pagination1 li.active{
  cursor: pointer;
  border: 1px solid red;
  color: red;
  }
  
/* ----  comments---- */
/* ----comments input---- */
.commentsInput{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.block-name,
.block-body{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;

}
.block-name label,
.block-body label,
.block-add{
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: left;
    

}
.comment-name{
    margin-bottom: 10px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.245);

}
.falseName{
    color: red;
    position: relative;
    font-size: 13px;
    bottom: 10px;
    right: 50px;
}
.comment-body{
    margin-bottom: 15px;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.245);


}

.close{
    width: 20px;
    height: 20px;
    position: relative;
    top: 30px;
    background-image: url(/images/close.png);
    background-size: cover;
}
.del {
    /* display: none; */
    width: 20px;
    height: 20px;
    position: relative;
    left: 405px;
    bottom: 15px;
    background-image: url(/images/close.png);

    background-size: cover;
}
.del:hover,
.close:hover{
    cursor: pointer;
}

.comment-add{
    width: 100px;
    height: 30px;
    background-color: rgb(96, 188, 235);
    border: 0px;
}
.comment-add:hover{
    cursor: pointer;
}
.containerForComments{
    max-width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.infoBlock{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.timeBlock{
    font-size: 10px;
    position: relative;
    top: 10px;

}
.nameBlock{
    font-size: 20px;
}
.bodyBlock{
    text-align: center;
    font-size: 25px;
    width: 400px;
    margin-bottom: 40px;
    border: 1px solid grey;
    background-color: rgba(205, 221, 220, 0.626);
}

