.blog-container{
    background: #fafafa;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
    font-weight: 100;
    margin: 48px auto;
    width: 50em;
}
.blog-container a:hover{
    border-color: #ff4d4d;
    color: #ff4d4d;

}
/* .blog-header{
    width: 100%;
} */
.blog-image{
    width: 100%;
    height: 200px;
    background-image: url(/images/main_portfolio/wedding1.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}
.commentsInput{
    display: grid;
    justify-content: center;
}

.block-name,
.block-body,
.block-add{
    display: grid;
    justify-content: center;
    width: 400px;
}
.comment-name{
    margin-bottom: 10px;
    width: 150px;
}
.comment-body{
    margin-bottom: 15px;
    width: 250px;
    height: 60px;
    border-radius: 5px;

}

.comment-add{
    width: 100px;
    height: 30px;
    background-color: rgb(96, 188, 235);
    border: 0px;
}
.comment-add:hover{
    cursor: pointer;
}


.timeBlock{
    font-size: 10px;

}
.bodyBlock{
    font-size: 20px;
    padding-bottom: 40px;
}
