.container{
    padding-top: 30px;
}
/* Шаринг */



#map{ 
    width: 100%;
    height: 400px;
    box-shadow:  0px 0px 5px 3px grey;

}
.contact-info a{
    color: black;
}
.contacts{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 30px;
    padding: 50px 0;
    justify-content: left;
    border-radius: 10px;
    box-shadow:  0px 0px 10px 5px grey;

}
.contact-info{
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto auto auto auto; */
    align-items: center;
    padding-left: 100px;

    
}
.form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted grey ;

}



.form-main{
    padding-top: 40px;
}
.date{
    position: relative;
    bottom: 5px;
}
#comment{
    width: 250px;
    height: 70px;
    white-space: pre-wrap;
}
#counter{
    font-size: 14px;
    position: relative;
    left: 200px;
    
}

#submit{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: brown;
    color: white;
    border: 0;
    border-radius: 10px;
}
#submit:hover{
    cursor: pointer;
}
.inline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    padding-bottom: 10px;
}
.inline input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
}
input:valid{
    border: 1px dotted green;
    box-shadow: 0px 0px 2px 1px green;
}
input:invalid{
    border: 1px dotted red;
    box-shadow: 0px 0px 2px 1px red;

}
/* .input:last-child{
    border: none;
} */
.inline input:focus{
    /* border: 0; */
    outline: 0px;
}
.inline textarea{
    width: 250px;
    height: 50px;
    border-radius: 10px;
}
.inline p:first-child{
    width: 200px;
    text-align: right;
    padding-right: 10px;
}
.container{
    padding-bottom: 30px;
}
.social,
.phone,
.adress,
.workday{
    text-align: left;
    width: 100%;
    padding: 10px;
}
.social h3,
.phone h3,
.adress h3,
.workday h3{
    font-size: 24px;
    text-shadow: 1px 1px 0px #80808092;
}
.workday img,
.adress img,
.phone img
{
    width: 15px;
    height: 15px;
}
.workday-info,
.adress-info,
.phone-info
{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
}

.share-info{
    display: inline-block;

}
.social-items{
    padding-top: 5px;
    /* padding-left: 20px; */
    display: flex;
    flex-direction: row;
    /* grid-template-columns: auto auto auto auto auto; */
    justify-content: left;

    /* grid-gap: 10px; */
}
.social-items div{
    padding-right: 10px;
}
.social-items div:hover{
    transform: scale(1.1);
}

.fb-share-button{
    position: absolute;
    /* padding-left: 10px; */
    /* top: 1000px; */
}
.twitter-share-button{
    /* position: absolute; */
    margin-right: 10px;
    

}
#map{
    margin: 50px 0;
    border-radius: 10px;
}
@media all and (max-width:1150px){
    #counter{
        position: relative;
        left: 100px;
    }

    .inline{
        flex-direction: column;
    }
    .inline p:first-child{
        text-align: center;
}
    .contacts{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        justify-content: center;
        margin: 30px 0;
}
    .form{
        border-right: none;
        padding-bottom: 40px;
        border-bottom: 1px dotted grey;
        
    }

    .contact-info{
        padding-top: 40px;
        padding-left: 0px;
}

}