/* ---main block--- */
.main-head-photo{
    display: none;
    min-width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: repeat;
    
}
.mainInfo{
    position: relative;
    bottom: 150px;
    text-align: center;    
    width: 100%;
    padding: 0 10%;
}
.mainInfo h1{
    padding-top:30px;
    font-size: 40px;
    text-shadow: 1px 2px 3px #000000;
}
.mainInfo h2{
    font-size: 25px;
    padding: 30px 0;

}

.mainInfo h4{
    padding-bottom: 30px;
}
.aboutMe{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr ;
        grid-template-columns: 1fr 1fr ;
    grid-gap: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.687);
}

.myphoto img {
    max-width: 500px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);

}

.listOfSkills{
    text-align: justify;
}
.listOfSkills p{
    padding-bottom: 10px;
}
/* ----main Portfolio ------ */
 .main_service a {
    display: inline-block;
  }
.main_service img {
    display: block;
    width: 100%;
  }
.main_service  .full {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 8%;
    background: #CCC center no-repeat;
    background: rgba(0, 0, 0, 0.8) center no-repeat;
    background-size: contain;
    background-origin: content-box;
  }
  a:focus + .full {
    display: block;
  }

.service{
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 2px solid grey;
    box-shadow: 0px 0px 1px 2px grey;
}
.service:hover{
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    -webkit-transition: 1s;
    transition: 1s;    
}
.main_service{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.687);

}
.remove{
    display: none;
}
.cooperation{
    display: none;
    width: 100%;
    height: 700px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.687);
}

.cooperation_img{
    width: 620px;
    height: 600px;
}

.adv_container{
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 40px;

}
.whyme{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.adv{
    width:400px ;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(175, 179, 187, 0.25);
    border-radius: 10px 10px 0 0;
}
.adv-img1{
    width: 360px;
    height: 240px;
}
.adv-img2{
    width: 360px;
    height: 240px;
}
.adv-img3{
    width: 360px;
    height: 240px;
}

.footer-desktop{
    border-top: 1px solid rgba(0, 0, 0, 0.687);
    background-color: rgba(22, 20, 20, 0.898);
    color: white;
    height: 200px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr  1fr 1fr 1fr;
        grid-template-rows: 1fr  1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
/* ----footer styles---- */
.footer-menu {
    text-align: center;
    padding:10px 0;
}


.footer-menu ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.footer-menu li{
    list-style-type: none;
    padding: 0 10px;
    font-size: 20px;

}

.footer-number{
    text-align: center;
}
.footer-number a{
    font-size: 20px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.footer-social div{

    padding: 10px;
}

.footer-social a{
    display: block;
}

.footer-social a:hover{
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

.footer-author{
    text-align: center;
}

.footer-author h6{
    color: rgba(255, 255, 255, 0.673);
}


