.main_photo{
    /* padding-top:90px; */
    /* width: 100%; */
    /* background-image: url(/images/portfolio_main.jpg);
    background-size: cover;
    background-repeat: no-repeat ; */
}
.main_photo img{
    width: 100%;
}
.main_header{
    display: block;
    
    text-align: center;
    position: relative;
    bottom: 100px;
    font-size: 45px;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.3em;
}
.main_header-main{
    display: block;
    text-align: center;
    position: relative;
    bottom: 300px;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.3em;
    opacity: 0.8;
}
.main_header-main h1{
    font-size: 100px;
}
.main_header-main h3{
    font-size: 30px;
}

.container{
    width: 100%;
    padding: 0 10%;
    text-align: center;
}


@media all and (max-width:500px){
    
}
@media all and (max-width:1000px){
    .main_header{
        display: none;
    }
}