.container-item{
    width: 100%;
    padding: 0 2%;
}
.item{
    width: 100%;
    height: auto;  
}
.item-header {
    text-align: left;
    padding-top: 40px;

}
.item-header h1{
    padding-bottom: 15px;
}
/* new year photo */
.newyear-photo-1{
    width: 100%;
    height: 400px;
    background-image: url(/images/newyear1.jpg);
    background-size: cover;
    grid-area: floor1-3x;
    }
.newyear-photo-2{
    grid-area: floor2-2x;
    background-image: url(/images/newyear2.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.newyear-photo-3{
    grid-area: floor2-1x;
    background-image: url(/images/newyear3.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    
}
.newyear-photo-4{
    grid-area: floor3-1x;
    background-image: url(/images/newyear4.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;

}
.newyear-photo-5{
    grid-area: floor3-2x;
    background-image: url(/images/newyear5.jpg);
    background-size: cover;
    height: 400px;

}
.newyear-photo-6{
    grid-area: floor4-11x;
    background-image: url(/images/newyear6.jpg);
    background-size: cover;
    height: 400px;
    
}
.newyear-photo-7{
    grid-area: floor4-12x;
    background-image: url(/images/newyear7.jpg);
    background-size: cover;
    height: 400px;

}
.newyear-photo-8{
    grid-area: floor4-13x;
    background-image: url(/images/newyear8.jpg);
    background-size: cover;
    height: 400px;

}

.newyear-photo{
    padding-top: 30px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
    'floor1-3x floor1-3x floor1-3x'
    'floor2-2x floor2-2x floor2-1x'
    'floor3-1x floor3-2x floor3-2x'
    'floor4-11x floor4-12x floor4-13x' ;
    grid-gap: 10px;

}
.item-text{
    text-align: left;
}
.item-text h2{
    padding: 20px 0;
}
.item-text ul,
.item-text ol
{
    padding: 10px;
    padding-left: 20px;
}
.item-text li{
    padding: 5px 0;
}
.item-price{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 50px 0;
}
.price{
    width: 450px;
    height: 600px;
    background-color: rgb(235, 222, 222);
    border: 1px solid pink;
    border-radius: 10px;
    
}
.price-newyear-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price-econom .price-newyear-img{
    background-image: url(/images/price-newyear.jpg);
    background-size: cover;
}
.price-vip .price-newyear-img{
 
    background-image: url(/images/price-newyear2.jpg);
    background-size: cover;

}
.price-list ul{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
.price-list li{
    
    list-style-type: none;
    height: 45px;
    border-bottom: 1px solid pink;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        
}
.price-header{
    font-size: 27px;
    color: rgb(221, 45, 45);
}
.price-price{
    font-size: 20px;
    color: rgb(221, 45, 45);
}
.booking{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
}
.booking a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    font-family:'Blogger-Italic';
    width: 220px;
    height: 50px;
    background-color :rgb(221, 45, 45);
    border: 0px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}
.booking a:hover{
    background-color: #111111;
    -webkit-transition: all linear .3s ;
    transition: all linear .3s ;
    cursor: pointer;
}
/* family photo*/
.family-photo-1{
    width: 100%;
    height: 400px;
    background-image: url(/images/family1.jpg);
    background-size: cover;
    grid-area: floor1-3x;
    }
.family-photo-2{
    grid-area: floor2-2x;
    background-image: url(/images/family2.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.family-photo-3{
    grid-area: floor2-1x;
    background-image: url(/images/family3.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    
}
.family-photo-4{
    grid-area: floor3-1x;
    background-image: url(/images/family4.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;

}
.family-photo-5{
    grid-area: floor3-2x;
    background-image: url(/images/family5.jpg);
    background-size: cover;
    height: 400px;

}
.family-photo-6{
    grid-area: floor4-11x;
    background-image: url(/images/family6.jpg);
    background-size: cover;
    height: 400px;
    
}
.family-photo-7{
    grid-area: floor4-12x;
    background-image: url(/images/family7.jpg);
    background-size: cover;
    height: 400px;

}
.family-photo-8{
    grid-area: floor4-13x;
    background-image: url(/images/family8.jpg);
    background-size: cover;
    height: 400px;

}

.family-photo{
    padding-top: 30px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
    'floor1-3x floor1-3x floor1-3x'
    'floor2-2x floor2-2x floor2-1x'
    'floor3-1x floor3-2x floor3-2x'
    'floor4-11x floor4-12x floor4-13x' ;
    grid-gap: 10px;

}


.price-family-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price-econom .price-family-img{
    background-image: url(/images/family-price.jpg);
    background-size: cover;
}
.price-vip .price-family-img{
    background-image: url(/images/family-price2.jpg);
    background-size: cover;
}

/* wedding photo*/
.wedding-photo-1{
    width: 100%;
    height: 400px;
    background-image: url(/images/wedding1.jpg);
    background-size: cover;
    grid-area: floor1-3x;
    }
.wedding-photo-2{
    grid-area: floor2-2x;
    background-image: url(/images/wedding2.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.wedding-photo-3{
    grid-area: floor2-1x;
    background-image: url(/images/wedding3.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    
}
.wedding-photo-4{
    grid-area: floor3-1x;
    background-image: url(/images/wedding4.png);
    background-size: cover;
    width: 100%;
    height: 400px;

}
.wedding-photo-5{
    grid-area: floor3-2x;
    background-image: url(/images/wedding5.jpg);
    background-size: cover;
    height: 400px;

}
.wedding-photo-6{
    grid-area: floor4-11x;
    background-image: url(/images/wedding6.jpg);
    background-size: cover;
    height: 400px;
    
}
.wedding-photo-7{
    grid-area: floor4-12x;
    background-image: url(/images/wedding7.jpg);
    background-size: cover;
    height: 400px;

}
.wedding-photo-8{
    grid-area: floor4-13x;
    background-image: url(/images/wedding8.jpg);
    background-size: cover;
    height: 400px;

}

.wedding-photo{
    padding-top: 30px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
    'floor1-3x floor1-3x floor1-3x'
    'floor2-2x floor2-2x floor2-1x'
    'floor3-1x floor3-2x floor3-2x'
    'floor4-11x floor4-12x floor4-13x' ;
    grid-gap: 10px;

}

.price-wedding-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price-econom .price-wedding-img{
    background-image: url(/images/wedding-price1.jpg);
    background-size: cover;
}
.price-vip .price-wedding-img{
    background-image: url(/images/wedding-price2.jpg);
    background-size: cover;
}
/* love photo*/
.love-photo-1{
    width: 100%;
    height: 400px;
    background-image: url(/images/love1.jpg);
    background-size: cover;
    grid-area: floor1-3x;
    }
.love-photo-2{
    grid-area: floor2-2x;
    background-image: url(/images/love2.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.love-photo-3{
    grid-area: floor2-1x;
    background-image: url(/images/love3.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    
}
.love-photo-4{
    grid-area: floor3-1x;
    background-image: url(/images/love4.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;

}
.love-photo-5{
    grid-area: floor3-2x;
    background-image: url(/images/love5.jpg);
    background-size: cover;
    height: 400px;

}
.love-photo-6{
    grid-area: floor4-11x;
    background-image: url(/images/love6.jpg);
    background-size: cover;
    height: 400px;
    
}
.love-photo-7{
    grid-area: floor4-12x;
    background-image: url(/images/love7.jpg);
    background-size: cover;
    height: 400px;

}
.love-photo-8{
    grid-area: floor4-13x;
    background-image: url(/images/love8.jpg);
    background-size: cover;
    height: 400px;

}

.love-photo{
    padding-top: 30px;
    display: -ms-grid;
    display: grid;
    grid-template-areas: 
    'floor1-3x floor1-3x floor1-3x'
    'floor2-2x floor2-2x floor2-1x'
    'floor3-1x floor3-2x floor3-2x'
    'floor4-11x floor4-12x floor4-13x' ;
    grid-gap: 10px;

}


.love-photo>div:hover,
.wedding-photo>div:hover,
.family-photo>div:hover,
.newyear-photo>div:hover,
.master-photo>div:hover
{
    cursor: pointer;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    -webkit-filter: contrast(1.5);
            filter: contrast(1.5);
    color: blue;
}



.price-love-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price-econom .price-love-img{
    background-image: url(/images/love-price1.jpg);
    background-size: cover;
}
.price-vip .price-love-img{
    background-image: url(/images/love-price2.jpg);
    background-size: cover;
}
/* master */
.master-photo{
    display: none;
}
.master-photo1{
    margin-top: 50px;
    width: 100%;
    height: 600px;
    background-image: url(/images/master.jpg);
    background-size: cover;
}
.master-price{
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;}
.price-master-img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.price-econom .price-master-img{
    background-image: url(/images/master-price.jpeg);
    background-size: cover;
}

